.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgb(82, 82, 82);
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1.5rem 2rem;
  align-items: center;
  gap: 2rem;
}
