.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.ingredientsList {
  width: 100%;
  max-width: 360px;
  min-width: 250px;
  overflow: auto;
  max-height: 100vh;
}

.ingredientsList::-webkit-scrollbar {
  width: 6px;
	background-color: #F5F5F5;
}
 
.ingredientsList::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
 
.ingredientsList::-webkit-scrollbar-thumb {
  background-color: #000000;
}